.bounds {
  background-color:#ddd;
  height :800px;
}

.sec1 {
  background: red;
  color: white;
}

.sec2 {
  background: yellow;
  color:blue;
}

.sec3 {
  background: blue;
  color: white;
}

.sec4 {
  background: green;
  color: white;
}

.sec5 {
  background: pink;
  color: blue;
}

.sec6 {
  background: black;
  color: white;
}

.sec7 {
  background: purple;
  color: white;
}

.section {
  padding-top: 20px;
  text-align: center;
  border: 2px lime solid;
}
